.no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.navbar-light .navbar-brand{
    font-family: 'Jost', sans-serif;
    color: #4D4D4D;
    
}

.fab.fa-instagram {
    color: #4D4D4D;
    font-size: 25px;
    margin-right: 5px;
}

.post {
    width: 520px;
    margin: 0 auto;
}

.post img{
    width: 100%;
}

body {
    background-color: #E2E2E2;
}